.task__send_email__backdrop {
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.39);
  display: flex;
  align-items: center;
  justify-content: center;
}

.task__send__email__pane__outer {
  position: absolute;
  width: 60%;
  height: 70%;
  background-color: white;
  color: black;
  z-index: 4;
  border-radius: 5px;
  box-shadow: 10px 4px 20px -6px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: left;
}

.task__send__email__header {
  height: fit-content;
  width: 100%;
  background-color: rgb(182, 182, 182);
  border-radius: 5px 5px 0px 0px;
}

.task__send__email__header > h4 {
  margin: 10px;
  margin-bottom: 10px;
}

.task__send__email__close__icon {
  position: absolute;
  right: 0px;
  top: 0px;
}

.task__send__email__pane__content {
  margin-top: 10px;
  overflow-y: scroll;
}

.task__send__email__information__editer {
  width: 100%;
  bottom: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.task__send__email__information__editer > h4 {
  font-size: 16px;
  color: rgba(105, 105, 105, 0.993);
  font-weight: 400;
}

.task__send__email__information__editer > textarea {
  width: 90%;
font: inherit;
  word-wrap: break-word;
  height: fit-content;
  height: 120px;
  line-height: 20px;
  rows: 6;
}

.task__send__email__send__button{
  font-size: 14px !important;
  margin: 20px;
}
