.admin__pane__outer{
    width: 50vw;
    height: 50vh;
    background-color: rgb(97, 97, 97);
    color: white;
    z-index: 20;
    position: fixed;
    top: 25%;
    left: 25%;
    border-radius: 10px;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.2);
}

.add__user__to__property > button{
    padding: 15px;
    margin: 15px;
}