.app__form{
  left: 120px;
  right: 20px;
  bottom: 10px;
  height: 60px;
  background-color: whitesmoke;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}


.text__input{
    width: 40vw;
    margin: 20px;
    right: 20px;

}

.message__area{
    position: absolute;
    left: 120px;
    border-radius: 5px;
    right: 0px;
    top: 0px;
    width: 92vw;
    bottom: 100px;
    top: 8vh;
    background-color:rgba(255, 255, 255, 0.849);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow-y: scroll;
}



  .property__message__tile{
    height: 50px;
    background-color: rgb(221, 224, 231);
    border: 1px solid white;
    position: relative;
    display: flex;
    align-items: center;
  }

  .property__name{
    position: absolute;
    left: 15px;
    font-size: large;
    font-weight: 800;
  }

  .property__price{
    position: absolute;  
    right: 15px;
  }